<h1>This is the index of products</h1>

<p><%= link_to "Add Product", new_product_path %></p>

<% if @tag.present? %>
  <h6>
    Showing products tagged by:
    <span>
      <%= @tag.name %>
    </span>
  </h6>
<% end %>

<% @products.each do |product| %>
  <%= link_to product_path(product) do %>
    <ul>
      <li><%= product.id %>: <%= product.title %>
      <br>price: <%= number_to_currency product.price %></li>
    </ul>
  <% end %>
<% end %>
