<h1><%= @product.title %></h1>
<p><%= @product.description %>
<br>Price: <%= number_to_currency @product.price %></p>
<p>
<small class='text-muted'>
  sold by <em><%= @product.user.full_name %></em>
</small>
  </p>
  <% if can? :update, @product %>
    <%= link_to "Edit", edit_product_path(@product) %>
  <% end %>

  <br>
  <br>
  <% if can? :delete, @product %>
    <%= button_to "Delete", @product, method: :delete %>
  <% end %>

  <p><%= link_to "Back", products_path %></p>

  <h3>
 Reviews
 </h3>

 <ul>
     <% @reviews.each do |review| %>
         <% if can? :read, review %>
          <li style="<%= review.is_hidden ? "color: grey" : "" %>">
              <%= review.body %>
              <%= review.rating %>
              <p class='font-weight-lighter d-inline-block'>
              <small>Reviewed by <%= review.user.full_name %></small></p>
              <% if can? :delete, review %>
                  <%= button_to("Delete", product_review_path(@product.id, review.id) ,method: :delete, data:{confirm:"Are you sure?"}) %>
              <% end %>
              <% if review.is_hidden && (can? :update, review) %>
                <%= button_to("UnHide", product_review_unhide_path(@product.id, review.id), method: 'post' ) %>
              <% end %>
          </li>
        <% end %>
     <% end %>
 </ul>

 <h4>Write your review</h4>

 <ul>
 <% if @review.errors.any? %>
     <% @review.errors.full_messages.each do |msg|%>
     <li><%= msg %></li>
     <% end %>
 <% end %>
 </ul>
 <%= form_with(model: [@product, @review]) do |form|%>
 <div>
     <%= form.label :body%>
     <%= form.text_area :body%>
 </div>
 <div>
     <%= form.label :rating%>
     <%= form.number_field :rating%>
 </div>
 <div>
    <%= form.label :is_hidden %>
    <%= form.check_box :is_hidden %>

 </div>
 <%= form.submit %>
 <% end %>