<h1><%= @product.title %></h1>
<p><%= @product.description %>
<br>Price: <%= number_to_currency @product.price %></p>
<p>
<small class='text-muted'>
  sold by <em><%= @product.user.full_name %></em>
</small>
  <p>Tags:</p>
   <% unless @product.tags.empty? %>
    <div>
      <% @product.tags.each do |tag| %>
        <%= link_to(
            tag.name,
            products_path(tag: tag.name)
        ) %>
      <% end %>
    </div>
  <% end %>
  </p>
  <% if can? :update, @product %>
    <%= link_to "Edit", edit_product_path(@product) %>
  <% end %>
  <% if can? :delete, @product %>
    <br/>
    <%= button_to "Delete", @product, method: :delete %>
  <% end %>
  
  <p>
    <% if user_signed_in? %>
        <% favourite = current_user.favourites.find_by_product_id(@product.id) %>
        <% if favourite %>
          <%= button_to "Remove from favourite", product_remove_favourite_path(@product.id,favourite.id), method: :delete %>
        <% else %>
          <%= button_to "Add to favourite", product_favourites_path(@product), method: :post %>
        <% end %>
    <% end %>
  </p>

  <p><%= link_to "Back", products_path %></p>

 <h4>Write your review</h4>

 <ul>
 <% if @review.errors.any? %>
     <% @review.errors.full_messages.each do |msg|%>
     <li><%= msg %></li>
     <% end %>
 <% end %>
 </ul>
 <%= form_with(model: [@product, @review]) do |form|%>
 <div>
     <%= form.label :body%>
     <%= form.text_area :body%>
 </div>
 <div>
     <%= form.label :rating%>
     <%= form.number_field :rating%>
 </div>
 <div>
    <%= form.label :is_hidden %>
    <%= form.check_box :is_hidden %>

 </div>
 <%= form.submit %>
 <% end %>

 
 <h4 class="mt-3">Reviews</h4>
<% @product.reviews.each do |review| %>
  <div class='shadow-sm p-3 mb-1 bg-white rounded'>   
      
    <% if review.is_hidden && (can? :update, review) %>
      <%= button_to("UnHide", product_review_unhide_path(@product.id, review.id), method: 'post' ) %>
    <% end %>

    <p class='review-body' style="<%= review.is_hidden ? "color: grey" : "" %>"><%= review.body %></p>    
    
    <small class='font-weight-lighter d-inline-block text-muted'>by <%= review.user.full_name %></small>
    
    <%= button_to("Delete", product_review_path(@product.id, review.id), method: :delete, 
      class: "btn btn-danger btn-sm",
      data: { confirm: "Are you sure?" }) %>

    <p>
      <% if user_signed_in? %>
          <% like = current_user.likes.find_by_review_id(review) %>
          <% if like %>
            <%= button_to "Unlike", like_path(like), method: :delete %>
          <% else %>
            <%= button_to "Like", product_review_likes_path(@product, review.id), method: :post %>
          <% end %>
      <% end %>
    (<%= pluralize review.likes.count, 'like' %>)
    </p>
    
      <% vote = review.votes.find_by(user: current_user) %>
      <span class="vote-widget">
        <% if vote.nil? %>
          <%= button_to 'vote up', product_review_votes_path(@product, review, is_up: true), method: :post %>
          (<%= review.vote_total %>)
          <%= button_to 'vote down', product_review_votes_path(@product, review, is_up: false), method: :post %>
        <% elsif vote.is_up? %>
          <%= button_to 'vote up', product_review_vote_path(@product, review, vote), method: :delete, class: 'active' %>
          (<%= review.vote_total %>)
          <%= button_to 'vote down', product_review_vote_path(@product, review, vote, is_up: false), method: :patch %>
        <% else %>
          <%= button_to 'vote up', product_review_vote_path(@product, review, vote, is_up: true), method: :patch %>
          (<%= review.vote_total %>)
          <%= button_to 'vote down', product_review_vote_path(@product, review, vote), method: :delete, class: 'active' %>
        <% end %>
      </span>
  </div>
<% end %>