<h1><%= @product.title %></h1>

ID: <%= @product.id %>
<p><%= @product.description %>
<br>Price: <%= number_to_currency @product.price %></p>

<%= link_to "Edit", edit_product_path %>
<br>
<br>

<%= button_to "Delete", @product, method: :delete %>


<p><%= link_to "Back", products_path %></p>
